// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.letters {
  display: flex;
  color: white;
  list-style: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}

#l {
  margin: 8px;
  padding: 10px;
  background-color: blue;
}

.result {
  font-size: 30;
  font-family: 'Courier New', Courier, monospace
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}
